data:
  class: src.data.FedAyaDataset
  args:
    pre_partition: True
    test_ratio: 0.2
    val_ratio: 0.0
    pool: seen
models: 
  net:
    class: src.models.get_causal_peft_llm_model
    args:
      model_name_or_path: mtgv/MobileLLaMA-1.4B-Base
      adapter: lora
      adapter_args:
        r: 16
        lora_alpha: 32
        lora_dropout: 0.0
        bias: none
        task_type: CAUSAL_LM
        target_modules: all-linear
      gradient_checkpointing: False
      quantization: null
      attn_implementation: sdpa
      bt: True
  tokenizer:
    class: src.models.get_llm_tokenizer
    args:
      model_name_or_path: mtgv/MobileLLaMA-1.4B-Base
      padding_side: right
      seq_length: 1024
  prompt:
    formatting_prompt_func: 
      class: src.apps.clients.get_alpaca_formatting_prompts_func
    prompt_template: 
      class: src.apps.clients.alpaca_template
app:
  class: src.apps.SFTApp
  args:
    test_only: True
  on_evaluate:
    lr: 0.0001 # finetuning LR
  evaluate_fn:
    batch_size: 8
    generate_args:
      do_sample: False
      max_new_tokens: 1024
      cache_implementation: static
  client:
    class: src.apps.clients.SFTClient
    args: 
      num_train_epochs: 2
      max_steps : -1 # finetuning max steps
      batch_size : 4
      gradient_accumulation_steps: 4
      bt_args:
        btmode: rankwise
        eval_rank: null
        load_bts_path: null
        bts_lr: 0.01
        bts_max_clamp: 1000
        loss_weights:
          sparsity: 0.01
          significance: 100.0
          task: 1.0
server:
  class: src.server.LLMServer
  client_manager:
    class: src.server.client_managers.SimpleClientManager
  strategy:
    class: src.server.strategies.MultilingualFedAvg
    args:
      min_fit_clients: 3 # clients_per_round
      log: False
    valuation: null
simulation:
  num_clients: 38 
vram: 48000